* {
    box-sizing: border-box;
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}
.container{
    border: 1px solid red;
    background-color: aquamarine;
}
.box{
    border: 1px solid;color: blueviolet;
    height: 175px;
    float: right;
}
#b1{
    background-color: chocolate;
    width: 175px;
}
#b2{
    background-color: cornflowerblue;
    width: 200px;
}
#b3{
    background-color: darksalmon;
    width: 225px;
}
#b4{
    background-color: darkred;
    width: 250px;
}